
        <ul class="breadcrumbs-custom-path">

            <li class="breadcrumb-item"><a href="{{@blog.url}}">Home</a></li>
            {{#is "page"}}
            <li class="breadcrumb-item">{{post.title}}</li>
            {{/is}}
            {{#is "author"}}
            <li class="breadcrumb-item"><a href="{{@blog.url}}/about/">about</a></li>
            <li class="breadcrumb-item active">{{author.name}}</li>
            {{/is}}
            {{#is "blog"}}
            <li class="breadcrumb-item active"><a href="{{@blog.url}}/blog/">Blog</a></li>
            {{/is}}
            {{#is "tag"}}
            <li class="breadcrumb-item active">{{tag.name}}</li>
            {{/is}}
            {{#primary_tag}}
                    <li class="breadcrumb-item active">{{name}}</li>

                    {{/primary_tag}}
            {{#is "post"}}{{#post}}{{#primary_tag}}
            <li class="breadcrumb-item"><a href="{{url absolute="yes"}}">{{name}}</a></li>
            {{/primary_tag}}
            <li class="breadcrumb-item active">{{title}}</li>
            {{/post}}
            {{/is}}



          
        </ul>
    </div>

