<section class="section page-footer page-footer-default text-left bg-gray-lighter">
{{> wave}}<footer>
   
     <div class="container-wide">
        <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 col-xl-3">
                <div class="inset-xxl">
                    <h6>About us</h6>
                    <p class="text-spacing-sm">OAKwave is a passionate collective of <span class="highlight">good people</span> who do what they love for good people who <span class="highlight"> need what we do</span>.  We offer sales strategy, marketing strategy, campaign planning, and creative services to medium-to-large B2B organizations.</p>
                </div>
            </div>
        <div class="col-md-6 col-xl-3">
            <div class="inset-xxl"><div class="contact-info-wrap">
                      <h6>contact information</h6>                      
                         
                            <ul class="list-xs list-darker">
                              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary fas fa-map-marker"></span><a href="#">10324 Baileywick Road Suite B, Raleigh, NC 27613</a></li>
                              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary fas fa-phone"></span>
                                <ul class="list-comma">
                                  <li><a href="tel:#">919.823.4333</a></li>
                                </ul>
                              </li>
                              <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary fas fa-email-open"></span><a href="mailto:#">hello@oakwave.com</a></li>
                            </ul>
                       
                      </div></div></div>
                     
            <div class="col-md-6 col-xl-2">
               <!-- <h6>Quick links</h6>
                <ul class="list-marked list-marked-primary">
                                        <li><a href="{{site.url}}">Home</a></li>

                    <li><a href="{{site.url}}/about">About</a></li>
                    <li><a href="{{site.url}}/services">Services</a></li>
                    <li><a href="{{site.url}}/blog">Blog</a></li>
                    <li><a href="{{site.url}}/schedule">Schedule a Consultation</a></li>
                    <li><a href="{{site.url}}/contact">Contact</a></li>
                </ul>-->
            </div>
        
            <div class="col-md-6 col-xl-3">
                <h6>newsletter</h6>
                <p class="text-spacing-sm">Keep up with our news and updates.</p><br />
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "6942704",
                    formId: "5eb99b16-2a74-4a05-99e7-a70bb0b34e2b"
                });
            </script>
            </div>
        </div>
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year">2020</span><span>&nbsp;</span><span>OAKwave</span><span>.&nbsp;</span><a href="{{site.url}}/privacy">Privacy Policy</a></p>
    </div></footer>
</section>


