<article class="post-classic generica"><figure class="kg-image-card"><a class="post-classic-media" href="{{url}}"><img src="{{img_url feature_image}}" alt="{{title}}" class="kg-image" /></a></figure>
    <div class="post-classic-body">
        <p class="post-classic-title"><a href="{{url}}">{{title}}</a></p>
        <ul class="post-classic-meta">
            <li><span class="icon fas fa-calendar"></span>
                <time datetime="2020">{{date}}</time>
            </li>
            <li><span class="icon fas fa-tag"></span>{{tags}}></li>
        </ul>
        <div class="post-classic-text">
            <p>{{excerpt words="50"}}</p>
        </div>
        <div class="post-classic-footer"><a class="button button-sm button-secondary button-nina"
                href="{{url}}">Continue reading</a>
            <div>
                <ul class="post-classic-info">
                    <li><span class="icon fas fa-eye"></span><span>{{reading_time}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</article>