<!-- ================== Header Area ======================= -->
 <!-- <header class="header-area">
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
              <!--  <div class="header-content">-->
                  <!--  <div class="header-left">
                        <div class="logo" data-aos="fade-right">
                            <h2><a href="{{@site.url}}">
                                {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}">
                                {{else}}
                                {{@site.title}}
                                {{/if}}</a>
                                </h2>
                        </div>-->
                        {{!-- Navigation Menu --}}
                      <!--  {{navigation}}-->
                   <!-- </div>-->
                   <!-- <div class="header-right d-flex">
                        <span class="search-icon search-trigger"><i class="fa fa-search"></i></span>
                        <ul>
                            {{#if @site.facebook}}
                            <li><a href="{{facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                            {{/if}}
                            {{#if @site.twitter}}
                            <li><a href="{{twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>-->
<!-- ================== /Header Area ======================= -->
<div class="expanded-search">
    <div class="search-box">
        <span class="search-close-trigger">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABE0lEQVRIS6XVu5GDMBAGYP2KIHMJdx1cCXbIEFHBuQSXZFdABApxCdeB5zq4DCKtZ5kTg7Eea4sMofnY2YeEvu9PWuvvcRwPTdP8qYynbdtdWZaDtfaCruu+tNZXALcc3KFE9Gmt3YMDzMW3aF3XPzOcg/tQ9hb4HTyEPsGv4DHUC0vwFBqEY7gEjcI+nNe4T11LcfVDbf9QPN+mdSvydwmajNj9yBizV0oN/++HqqquqQFNRrzK6bwXAEkmNAqv0WmaOGpVFAWPfxIPwlvUHVC8LsG9cAh1eZXgT3AKleIPsBSV4AtsjPkA0BIRuFDSQz+UluU8BjAA+H0FjUU+3yA5aAgH33kAju9Eup0+lxYiOt8BXDFqtUpM3SEAAAAASUVORK5CYII="
                alt="close">
        </span>
        <input type="text" placeholder="Type anything and hit enter" id="searchInput">
    </div>
    <div class="search-results">
        <div class="search-result"></div>
    </div>
</div>