    <div class="gold-maple-small-section2">
        <div class="layer small-parallax" data-depth="0">
            <img src="{{asset "images/docelements/06.png"}}" alt="" width="60" />
        </div>
    </div>
    <div class="pink-leaf-small">
        <div class="layer" data-depth="0"><img width="40" src="{{asset "images/docelements/01.png"}}" alt="" />
        </div>
    </div>

    <div class="purple-leaf-regular-section2">
        <div class="layer" data-depth="0"><img src="{{asset "images/docelements/02.png"}}" width="35" alt="" />
        </div>
    </div>

    <div class="orangemaple-section2">
        <div class="layer" data-depth="0"><img src="{{asset "images/docelements/03.png"}}" width="51" alt=""  />
        </div>
    </div>

    <div class="house-thin-leaf-section2">
        <div class="layer" data-depth="0"><img src="{{asset "images/docelements/04.png"}}" width="68" alt=""/>
            
        </div>
    </div>

    <div class="purpleoak-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/docelements/05.png"}}" width="75" alt="" />
        </div>
    </div>

