    <div class="image01">
            <img src="{{asset "images/docelements/01.png"}}" alt="" style=" max-width: 50px;
  top: 10%;
  left: 0%;
  position: absolute;
  opacity: .03;"/>
        </div>

    <div class="image02">
       <img src="{{asset "images/docelements/02.png"}}" alt="" style="  max-width: 100px;
  top: 87%;
  left: 3%;
  position: absolute;
  opacity: .6;"/>
    
    </div>

    <div class="image03">
       <img src="{{asset "images/docelements/03.png"}}" alt="" style="  max-width: 40px;
  top: 27%;
  left: 53%;
  position: absolute;
  opacity: .6;"/>
       
    </div>


    <div class="image04">
        <img src="{{asset "images/docelements/04.png"}}" alt="" style="  max-width: 35px;
  top: 7%;
  left: 3%;
  position: absolute;
  opacity: .4;"/>
    
    </div>


    <div class="image05">
        <img src="{{asset "images/docelements/05.png"}}" alt="" style="  max-width: 50px;
  top: 97%;
  left: 3%;
  position: absolute;
  opacity: .2;"/>
    
    </div>


    <div class="image06">
        <img src="{{asset "images/docelements/06.png"}}" style="  max-width: 60px;
  top: 7%;
  left: 83%;
  position: absolute;
  opacity: .4;" alt="" />
    
    </div>


    <div class="image07">
        <img src="{{asset "images/docelements/07.png"}}" alt="" style="  max-width: 70px;
  top: 99%;
  left: 3%;
  position: absolute;
  opacity: .5;" />
    
    </div>


    <div class="image08">
        <img src="{{asset "images/docelements/08.png"}}" alt="" style="  max-width: 75px;
  top: 47%;
  left: 3%;
  position: absolute;
  opacity: .7;" />
    
    </div>


    <div class="image09">
        <img src="{{asset "images/docelements/09.png"}}" alt="" style="  max-width: 80px;
  top: 17%;
  left: 23%;
  position: absolute;
  opacity: .2;"/>
    
    </div>


    <div class="image10">
        <img src="{{asset "images/docelements/10.png"}}" alt="" style="  max-width: 85px;
  top: 67%;
  left: 33%;
  position: absolute;
  opacity: .2;" />
    
    </div>


    <div class="image11">
        <img src="{{asset "images/docelements/11.png"}}" alt="" style="  max-width: 90px;
  top: 35%;
  left: 93%;
  position: absolute;
  opacity: .2;"/>
    
    </div>


    <div class="image12">
        <img src="{{asset "images/docelements/12.png"}}" alt="" style="  max-width: 62px;
  top: 57%;
  left: 53%;
  position: absolute;
  opacity: .4;" />
    
    </div>



    <div class="image13">
        <img src="{{asset "images/docelements/13.png"}}" alt="" style="  max-width: 55px;
  top: 82%;
  left: 13%;
  position: absolute;
  opacity: .5;" />
    
    </div>



    <div class="image14">
        <img src="{{asset "images/docelements/14.png"}}" alt="" style="  max-width: 60px;
  top: 38%;
  left: 63%;
  position: absolute;
  opacity: .3;"/>
    
    </div>



    <div class="image15">
        <img src="{{asset "images/docelements/15.png"}}" style="  max-width: 65px;
  top: 97%;
  left: 73%;
  position: absolute;
  opacity: .2;" alt="" />
    
    </div>

    