    <div class="gold-maple-small-section2">
        <div class="layer small-parallax" data-depth="0.18">
            <img src="{{asset "images/elements/orangeoak.svg"}}" alt="" width="100" />
        </div>
    </div>
    <div class="pink-leaf-small">
        <div class="layer" data-depth="0.15"><img src="{{asset "images/docelements/01.png"}}" alt="" />
        </div>
    </div>

    <div class="purple-leaf-regular-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/docelements/02.png"}}" alt="" />
        </div>
    </div>

    <div class="orangemaple-section2">
        <div class="layer" data-depth="0.1"><img src="{{asset "images/docelements/03.png"}}" alt=""  />
        </div>
    </div>

    <div class="house-thin-leaf-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/docelements/04.png"}}" alt=""/>
                width="104" />
        </div>
    </div>

    <div class="purpleoak-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/docelements/05.png"}}" alt="" />
        </div>
    </div>

