<div class="parallax-scene-js parallax-scene" data-scalar-x="5" data-scalar-y="10">
            <div class="layer-01" style="transform: rotate(-37deg); top: -50% !important;">
                <div class="layer" data-depth="0.25"><img style="opacity: .5;"  src="{{asset "images/elements/house-thin-leaf.svg"}}" alt="" width="104" />
                </div>
            </div>
            <div class="layer-02" style="transform: rotate(-20deg); top: 0% !important; left: -10%;">
                <div class="layer" data-depth=".55"><img style="opacity: .7;" src="{{asset "images/elements/orangeoak.svg"}}" alt="" width="100" />

                </div>
            </div>
            <div class="layer-06"  style="transform: rotate(17deg); top: 30% !important; left: 70%">
                <div class="layer" data-depth="0.1"><img style="opacity: .5;" src="{{asset "images/elements/house-thin-leaf.svg"}}" alt="" width="154" />
                </div>
            </div>
            <div class="layer-04" style="transform: rotate(25deg); top: -20% !important; left: 90%;">
                <div class="layer" data-depth="0.25"><img style="opacity: .6;" src="{{asset "images/elements/orangemaple.svg"}}" alt="" width="144" />
                </div>
            </div>
            <div class="layer-05" style="top: -40% !important; left: 70%;">
                <div class="layer" data-depth="0.15"><img style="opacity: .3;" src="{{asset "images/elements/purpleleaf.svg"}}" alt="" width="54" />
                </div>
            </div>
            <div class="layer-03" style="transform: rotate(45deg); top: 35% !important; left: 20%;">
                <div class="layer" data-depth="0.65"><img style="opacity: .6;" src="{{asset "images/elements/pinkleaf.svg"}}" alt="" width="80"
                       />
                </div>
            </div>
        </div>

