

    <div class="gold-maple-small-section2">
        <div class="layer small-parallax" data-depth="0.18">
            <img src="{{asset "images/elements/orangeoak.svg"}}" alt="" width="100" />
        </div>
    </div>
    <div class="pink-leaf-small">
        <div class="layer" data-depth="0.15"><img src="{{asset "images/elements/pinkleaf.svg"}}" alt="" width="75" />
        </div>
    </div>

    <div class="purple-leaf-regular-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/purpleleaf.svg"}}" alt="" width="104" />
        </div>
    </div>

    <div class="orangemaple-section2">
        <div class="layer" data-depth="0.1"><img src="{{asset "images/elements/orangemaple.svg"}}" alt="" width="204" />
        </div>
    </div>

    <div class="house-thin-leaf-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/house-thin-leaf.svg"}}" alt=""
                width="104" />
        </div>
    </div>

    <div class="purpleoak-section2">
        <div class="layer" data-depth="0.2"><img src="{{asset "images/elements/purpleoak.svg"}}" alt="" width="154" />
        </div>
    </div>

