<div class="rd-navbar-wrap rd-navbar-default">

          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxxl-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxxl-device-layout="rd-navbar-static" data-stick-up-offset="1px" data-sm-stick-up-offset="1px" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px" data-xxx-lstick-up-offset="1px" data-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand">
                  <!--Brand--><a class="brand-name" href="{{@site.url}}"><img class="logo"
                        src="{{asset "images/logo-white-horizontal-no-marketing.svg"}}" width="230" /></a>
                </div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                   <li class="rd-nav-item {{#if current}}active current{{/if}}"><a class="{{#if current}}active current{{/if}} rd-nav-link"
              href="{{@site.url}}">Home</a>

                    <li class="rd-nav-item  {{#if current}}active current{{/if}} rd-navbar--has-dropdown rd-navbar-submenu"><a class=" {{#if current}}active current{{/if}} rd-nav-link" href="{{@site.url}}about">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{@site.url}}about#services">Services</a></li>
                                                    <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{@site.url}}events">Events &amp; Classes</a></li>

                          <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{@site.url}}blog">Blog</a></li>

                      <!--  <li class="rd-dropdown-item"><a class="rd-dropdown-list-link" href="{{site.url}}/ethos">Real Strategy without the BS</a></li>
                            <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{site.url}}/process">Our Process</a></li>
                        <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{@site.url}}/blog">Blog</a></li>-->
                          <!--  <li class="rd-dropdown-list-item"><a class="rd-dropdown-list-link" href="{{site.url}}/events">Events</a></li>
                         --> </ul>
                        </li>
                   <li class="rd-nav-item {{#if current}}active current{{/if}}"><a class="{{#if current}}active current{{/if}} rd-nav-link"
              href="{{@site.url}} "blog"}}">Blog</a>
                     
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-aside-right-inner">
              {{>search}}
                      <div style="padding-left: 20px; z-index: 99;" class="align-right"><a
                          class="button button-secondary button-small button-xs  button-nina" data-toggle="modal" data-target="#show-modal-schedule">Schedule Consultation</a></div>

                  </div>
                </div>
              </div>
            </div>
          </nav>
    </div>