
    <article class="event-default-wrap post-classic">
        <div class="event-default">
          <a class="post-classic-media" href="{{url}}">

            <figure class="kg-width-wide kg-image-card event-default-image"><img class="post-card-image" srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px" loading="lazy"
                src="{{img_url feature_image size="s"}}" alt="{{title}}" />
            </figure></a>
            <div class="event-default-caption"><a class="button button-xs button-default button-nina"
                    href="{{url}}">read now</a></div>
        </div>
        <div class="event-default-inner post-classic-body">
            <div class="box-inline"><span
                    class="icon novi-icon icon-md-middle icon-secondary fas fa-calendar"></span><a
                    class="event-default-link" href="{{url}}"><time datetime="2020">{{date}}</time></a>
                    
                    <span class="icon novi-icon icon-md-middle icon-secondary fas fa-eye"></span><a class="event-default-link"
                        href="{{url}}"><time datetime="2020">{{reading_time}}</time></a>
                        

                            {{#primary_tag}}
<span class="icon novi-icon icon-md-middle icon-secondary fas fa-tag"></span><a class="event-default-link"
    href="{{url}}"><time datetime="2020">{{name}}</time></a>                            {{/primary_tag}}
                     
                        
                        </div>
            <h5 class="font-size-rm post-classic-title"><a class="event-default-title" href="{{url}}">{{title}}</a></h5>
        </div>
    </article>
