<div class="col-lg-12 grid-item py-4" data-aos="fade-up">
    <div class="ln-card {{^if feature_image}}no-feature-image{{/if}}">
        {{#if feature_image}}
        <a href="{{url}}" class="card-img"><img src="{{feature_image}}" alt="{{title}}"></a>
        {{/if}}
        <div class="card-content">
            <div class="post-meta">
                {{#primary_tag}}
                <p><a href="{{url}}">{{name}}</a></p>
                {{/primary_tag}}
                <p><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM, YYYY"}}</time></p>
            </div>
            {{#primary_author}}
            <div class="author-meta">
                <i class="fa fa-user"></i> Posted by - <a href="{{url}}">{{name}}</a>
            </div>
            {{/primary_author}}
            <h4 class="mb-4"><a href="{{url}}" class="card-title">{{title}}</a></h4>
            {{#if excerpt}}
            <p>{{excerpt words="25"}}</p>
            {{/if}}
            <div class="read-more">
                <a href="{{url}}">CONTINUE READING</a>
            </div>
            <div class="social-share-post mt-4">
                <div class="share-icon">
                    <i class="fa fa-share-alt"></i>
                </div>
                <ul class="share-post">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
