
       
 <section id="blog" class="wrapper style2 posts">
                        <div class="inner">
                            <h2>Recent Ramblings</h2>
{{#get "posts" limit="4" filter="id:-{{post.id}}" as |recents|}}

                        {{#foreach posts}}
                        <div class="col-md-4">
                        <article class="feeditem">
                            
                            {{#if feature_image}}
                            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                            {{/if}}
                            <header>
                                <span class="date">{{date format="MMM D, YYYY"}}</span>
                                <h2><a href="{{url}}">{{title}}</a></h2>
                            </header>
                            <p class="summary">{{excerpt words="15"}}</p>
                 
                        </article>
                        </div>
                        {{/foreach}}    
                                                {{/get}}


</div>
                    </section>         
