<div class="wow fadeInLeft container-wide">
    <h2 class="whitish text-center" data-wow-delay=".8s">We Just Want To Help...</h2>
    <div class="row justify-content-sm-center">
        <div class="divider center zero-auto house-gradient"></div>
        <div class="gimme-some-room"></div>
    </div>
    <p>For the majority of our clients, we deliver a comprehensive, holistic marketing strategy (read: blueprints for
        three years of brand, marketing, and sales) followed by on-demand CMO-as-a-service consultation services
        delivered on a regular basis. For others, we offer turnkey execution and 100% project management services.</p>
    <div class="row row-50 row-xxl-90 offset-custom-2 text-left justify-content-center">
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/rocket.svg"}}" width="40"></div>
                    <h6 class="box-minimal-title">Growth Strategy</h6>
                </div>
                <div class="box-minimal-text">The most soup-to-nuts, innovative, custom-fit marketing strategy, sales
                    strategy, and overall business growth strategy in the industry. This is our flagship product that
                    simply cannot be beat by anything else in the industry. It is the blueprints by which the next
                    thirty-six months of your business can be directed.
                </div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/dart.svg"}}" width="55"></div>
                    <h6 class="box-minimal-title">Brand Position</h6>
                </div>
                <div class="box-minimal-text">Unifying your organization behind a single voice, position, slogan, and
                    value proposition is critical to making efficient use of your marketing efforts. We make this
                    process painless and actually fun.
                </div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/icons/whiteboard.svg"}}" width="50">
                    </div>
                    <h6 class="box-minimal-title">CMO-As-A-Service</h6>
                </div>
                <div class="box-minimal-text">All the services of a Chief Marketing Officer, without the huge salary or
                    commitment. You're trying to run a team and a business, not be a marketing director. We make the
                    decisions, control the output, and align it with your business objectives.</div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/icons/lightbulb.svg"}}" width="35"></div>
                    <h6 class="box-minimal-title">Campaigns</h6>
                </div>
                <div class="box-minimal-text">The heavy-hitting idea, visuals, and plan you need to usher in your
                    business's next evolution. We bring powerhouse concepts to the table and the deep skillsets to
                    execute them. Those unwilling to change need not apply.</div>
            </article>
        </div>
        <!-- row 2-->
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/treasurechest.svg"}}" width="40"></div>
                    <h6 class="box-minimal-title">Brand Design</h6>
                </div>
                <div class="box-minimal-text">From the ground floor on up or by reimagining an existing brand, we birth
                    brands everyday--whether visual, textual, or otherwise. So much more than a logo, your brand is the
                    foundation upon which you build your organization. A shaky foundation results in a shaky house.
                </div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/icons/swords.svg"}}" width="40"></div>
                    <h6 class="box-minimal-title">Sales Enablement</h6>
                </div>
                <div class="box-minimal-text">We believe that sales and marketing, at their cores, are the same thing:
                    persuasion. Marketing and sales always travel hand-in-hand We offer sales strategy, sales asset
                    development, and sales copy that is seamlessly intertwined with your marketing efforts.
                </div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/compass.svg"}}" width="40"></div>
                    <h6 class="box-minimal-title">Stack Assembly</h6>
                </div>
                <div class="box-minimal-text">If you have 800 moving components and SaaS tied to your sales and
                    marketing efforts, you're paying too much in both your time and your dollars. Software-agnotically,
                    we guide and implement stacks that align your technical needs and your business objectives.</div>
            </article>
        </div>
        <div class="col-sm-10 col-md-6 col-xl-3">
            <article class="box-minimal">
                <div class="box-minimal-header">
                    <div class="box-minimal-icon"><img src="{{asset "images/icons/computer.svg"}}" width="40"></div>
                    <h6 class="box-minimal-title">Website Strategy</h6>
                </div>
                <div class="box-minimal-text">Acting as the tracking epicenter of your marketing efforts, your website’s form and function will make or break
                marketing. We assess, rethink, and offer tactical steps to lift impact of the “homebase” of your efforts.</div>
            </article>
        </div>
    </div>
</div>