<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a></li>
<li><a target="_blank" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a></li>
<li><a target="_blank" href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}{{#if feature_image}}&media={{feature_image}}{{/if}}"><i class="fa fa-pinterest"></i></a></li>
<li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}"><i class="fa fa-linkedin"></i></a></li>