
<section id="sidebar">
                <div class="inner">
                    <div id="logofinal">   <img src="{{asset 'images/logo-white-horizontal-no-marketing.svg'}}" class="site-logo"></div>
                    <nav>
                        <ul>
                            <li><a class="scrolly {{link_class for="/" activeClass="active"}}" href="https://www.oakwave.com">Home</a></li>
                                                        <li><a class="scrolly {{link_class for="/blog" activeClass="active"}}" href="https://www.oakwave.com/blog">Our Blog</a></li>
                            <li><a href="https://www.oakwave.com#contact">Contact Us</a></li>

                             {{#foreach navigation}}<li><a class="scrolly{{#if current}} active{{/if}}" href="{{url absolute="true"}}">{{label}}</a></li>            {{/foreach}}
                        </ul>
                    </nav>
                

                            <nav2>
                    <ul>
                                                    <a class="scrolly" href="#"><h3 class="scrolly">Blog Tags:</h3></a>{{#get "tags" limit="5"}}{{#foreach tags}}

                                                    <a href="{{url absolute="true"}}" class="scrolly{{#if current}} active{{/if}}">{{name}}</a> {{/foreach}} {{/get}}

                 </ul>
        </nav2>        </div>
            </section>			

