
   
          



       


<footer class="container-fluid footer">

    <div class="row">
        <div class="col footercolms">
            <div class="contact-info-holder">

                <div class="title"><h3>contact us</h3></div>
<div class="hr"></div>      

                <div class="contact-info">    <a href="tel:9198234333">919.823.4333</a><br /><a href="mailto:hello@oakwave.com">hello@oakwave.com</a><br />10324 Baileywick Rd <br />Suite B<br />Raleigh, NC 27613<br />We <i class="fa fa-heart"></i> Raleigh </div>
                
            </div>
        </div>
        
     

        <div class="col" >
            <div class="contact-info-holder" >
                            <div class="title"><h3>quick links</h3></div>
<div class="hr"></div>                <div class="contact-info">
                  <a href="{{@site.url}}">home</a>
                  <br /> 
                                    <a href="{{@site.url}}/blog">blog</a>
                                    <br />
            <a href="{{@site.url}}/schedule">schedule a consultation</a>

</div>
            </div>
        </div>




        <div class="col">
            <div class="contact-info-holder"> <div class="contact-info">
                            <div class="title"><h3>stay connected</h3></div>
<div class="hr"></div>         
                <div class="social-media">
                           <div class="social-link-holder"><a href="{{facebook_url @site.facebook}}"><i class="fab fa-facebook"></i></a></div>
                           <div class="social-link-holder"><a href="https://www.linkedin.com/company/oakwave"><i class="fab fa-linkedin"></i></a></div>
                           <div class="social-link-holder"><a href="https://www.quora.com/profile/Nicole-Choman-7"><i class="fab fa-quora"></i></a></div>

                                   <div class="social-link-holder"><a href="{{twitter_url @site.twitter}}"><i class="fab fa-twitter"></i></a></div>
<br />


</div>
       <div class="gimme-some-room2"></div>     <h5> get updates by email </h5>               <p>   <small>we promise to only send the juciest of stuff</small></p></div>

           <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6942704",
	formId: "5eb99b16-2a74-4a05-99e7-a70bb0b34e2b"
});
</script>
                   
                </div>
            </div>
    </div>
    </div> <div class="container-fluid">
        <div class="row">
            <div class="col text-left align-left left-align">
                <small >            <p class="copyright">&copy; {{@site.title}} - All rights reserved<br>
</small>
            </div>
        </div>
    </div>
</footer>
