<div class="menu-toggle sm">
    <div class="icon"></div>
</div>
<div class="main-menu">
    <div class="menu-links">
        <ul>
            <li><a href="{{@site.url}}">home</a></li>
            <li><a target="_blank" href="https://meetings.hubspot.com/oakwave/consultation">schedule a call</a></li>
            <li><a href="{{@site.url}}/blog">blog</a></li>
            <li><a href="{{@site.url}}/contact">contact</a></li>
        </ul>
    </div>
</div>
<nav class="container-fluid cnav">
    <div class="logo-bg"></div>
    <div class="row">
        <div class="col">
            <div class="logo-holder">

                <a href="{{@site.url}}"><picture>  <source srcset="{{asset "images/whiteandpurple.svg"}}" type="image/svg+xml">
<img class="logo" src="{{asset "images/logo.png"}}" alt="oakwave marketing strategy"></picture></a>
         </div>
            <div class="social-media">
                 <div class="social-link-holder"><a href="{{facebook_url @site.facebook}}"><i class="fab fa-facebook"></i></a></div>
                           <div class="social-link-holder"><a href="https://www.linkedin.com/company/oakwave"><i class="fab fa-linkedin"></i></a></div>
                           <div class="social-link-holder"><a href="https://www.quora.com/profile/Nicole-Choman-7"><i class="fab fa-quora"></i></a></div>

                                   <div class="social-link-holder"><a href="{{twitter_url @site.twitter}}"><i class="fab fa-twitter"></i></a></div>


            </div>
        </div>
    </div>
</nav> 