  <h2>What we do</h2>
                            <p>We provide organizations with marketing strategy, branding, creative, and campaign services.  We're an idea tank, strategy Swiss Army knife, and marketing secret weapon.</p>
                            <div class="features">
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/binoculars.svg'}}" alt="" data-position="center center" />
</span>
                                    <h3>On-Demand CMO-As-A-Service</h3>
                                    <p>All the services of a Chief Marketing Officer, without the huge salary or commitment.</p>
                                </section>
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/compass.svg'}}" alt="" data-position="center center" />
                                    <h3>Marketing Strategy</h3>
                                    <p>The most soup-to-nuts, innovative, custom-fit marketing strategy in the industry.  Our flagship product that simply cannot be beat.</p>
                                </section>
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/clipboard.svg'}}" alt="" data-position="center center" />
                                    <h3>Marketing Campaign</h3>
                                    <p>The heavy-hitting idea, visuals, and plan you need to usher in your business's next evolution.</p>
                                </section>
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/rocket.svg'}}" alt="" data-position="center center" />
                                    <h3>Brand Design/Redesign</h3>
                                    <p>From the ground floor on up, we birth brands everyday--whether visual, textual, or otherwise.</p>
                                </section>
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/dart.svg'}}" alt="" data-position="center center" />
                                    <h3>Content Crafting and Tuning</h3>
                                    <p>Our content hits hard and packs a loud punch.  We provide our clients with everything from slogans to website rewrites. </p>
                                </section>
                                <section>
                                    <span class="icon major"><img src="{{asset 'images/lightbulbman.svg'}}" alt="" data-position="center center" />
                                    <h3>Creative Services</h3>
                                    <p>Has your team's creative juices run dry?  In need of some killer design work or just a really, really good idea?  We got you covered.</p>
                 