<!DOCTYPE HTML>
<html>


<head>
{{> basemeta }}
    <link rel="stylesheet" type="text/css" href="{{asset "about/sass/main.css"}}" />
    <noscript><link rel="stylesheet" href="{{asset "about/sass/noscript.css"}}" /></noscript>
{{> site-header }}
{{ghost_head}}
</head>

	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
<a class="logo" href="https://www.oakwave.com"><img src="{{asset 'images/logo-white-horizontal-no-marketing.svg'}}" class="site-logo"></a><nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
<a class="logo" href="https://www.oakwave.com"><img src="{{asset 'images/logo-white-horizontal-no-marketing.svg'}}" class="site-logo"></a>							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>


				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><img class="md" src="{{asset 'images/knight.svg'}}"></div>
							<h2>Who is OAKwave?</h2>
							<p>We call ourselves strategy symphony conductors, marketing de-spaghettification experts, and problem-solving superheroes.  We are ushering in a new wave of agency relationships while relying upon the oak solid foundations that made marketing amazing in the first place.</p>
						</div>
			
					</section>

				<!-- Wrapper -->
					<section id="wrapper">
						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
							<img class="md" src="{{asset 'images/dragon.svg'}}">
									<div class="content">
										<h2 class="major">Where We've Been</h2>
										<p>We come from places that were less than where we are now.  We are more evolved people than who we were.  Some of the clients we have worked with include:</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
							<img class="md" src="{{asset 'images/dragon.svg'}}">
									<div class="content">
										<h2 class="major">Where We're Going</h2>
										<p>Our vision is to be the creative powerhouse and marketing strategy goldmine that you keep in your back pocket for when #@*& hits the fan.  We want to be an amazing place for marketing, strategy, brand, and design artisans to practice their craft with totally unbridled passion.  </p>	<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
							<img class="md" src="{{asset 'images/dragon.svg'}}">
									<div class="content">
										<h2 class="major">How We Will Get There</h2>
										<p>There's a few creeds we operate by:</p>
										<p>We operate ethically. <br />
We only market companies, people, services, and products in which we believe and would purchase ourselves.<br />
We ensure a human connection to the target market at all times.<br />
We know the "why" behind everything we produce. <br />
We ceaselessly love what we do.  And if we don't, we stop doing it. </p>	<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

	<section id="four" class="wrapper spotlight style4">
								<div class="inner">
							<img class="md" src="{{asset 'images/dragon.svg'}}">
									<div class="content">
										<h2 class="major">What We Cost</h2>
										<p><ol><li>We operate ethically. </li>
<li>We only market companies, people, services, and products in which we believe and would purchase ourselves.</li>
<li>We ensure a human connection to the target market at all times.</li>
<li>We know the "why" behind everything we produce. </li>
<li>We ceaselessly love what we do.  And if we don't, we stop doing it.  </li></ol></p>	<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>
						<!-- Four -->
							<section id="five" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Who Do We Service</h2>
									<p>All industries, but we specialize in B2B (though we have had MANY B2C clients as well, it’s just not our core strength).  We have a penchant for franchise sales, SaaS, medical, and manufacturing.  But, only because we’ve had clusters of clients in each of those areas.  As long as the nature of the challenge is marketing, sales, or business, we’re specialized there.  This requires a lot more work on our part, but we know your industry like our own by the end of our process.</p>
									<section class="features">
										<article>
							<img class="md" src="{{asset 'images/dragon.svg'}}">
											<h3 class="major">Sed feugiat lorem</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
							<img class="md" src="{{asset 'images/dragon.svg'}}">
											<h3 class="major">Nisl placerat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
							<img class="md" src="{{asset 'images/dragon.svg'}}">
											<h3 class="major">Ante fermentum</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
							<img class="md" src="{{asset 'images/dragon.svg'}}">
											<h3 class="major">Fusce consequat</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul>
							
						</div>
					</section>

			</div>
    {{> site-footer }}
    {{> email-subscribe}}
    {{> footer-scripts }}
    {{{block "scripts"}}}
    {{ghost_foot}}
</body>
</html>