{{!< default}} 
{{#author}}
<!-- Author Srction Wrapper -->
<div class="author-banner-wrapper">
    <div class="container-fluid max-width">
        <div class="author-banner {{#if cover_image}}banner-overlay{{/if}}" {{#if cover_image}}style="background-image: url('{{cover_image}}')"{{/if}}>
            <div class="author-banner-text">
                {{#if profile_image}}
                <div class="author-single-image" data-aos="fade-down">
                    <img src="{{profile_image}}" alt="{{name}}">
                </div>
                {{/if}}
                <h2 data-aos="fade-down">{{name}}</h2>
                <p data-aos="fade-up"><span>{{plural ../pagination.total empty='No Post' singular='% Post' plural='% Posts'}} written by {{name}}</span></p>
                {{#if bio}}
                <p data-aos="fade-up">{{bio}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/author}}
<div class="container">
    <div class="author-card-wrapper">
        <div class="row news-grid">
            <div class="col-lg-4 col-md-6 grid-item"></div>
            {{#foreach posts}}
            <div class="col-lg-4 col-md-6 grid-item py-4">
                {{> "post-card"}}
            </div>
            {{else}}
            <h3>Post Not found</h3>
            {{/foreach}}
        </div>
    </div>
    {{#if posts.length}}
        {{pagination}}
    {{/if}}
</div>

<!-- /Author Srction Wrapper -->



{{!-- suscribe --}}
{{> "subscribe-section"}}