{{!< static}}
{{> static-header}}
{{> static-menu}}
<header class="container-fluid header">
    <div class="bg"></div>
    <div class="mouse-scroll"></div>
    <div class="info-content">
        <ul>
            <li><a href="mailto:hello@oakwave.com">hello@oakwave.com</a></li>
</button>
            <li><a href="#" data-toggle="modal" data-target="#exampleModal">schedule a consultation</a></li>
            <li><a href="tel:9198234333">919.823.4333</a></li>
        </ul>
    </div>

        


    <div class="row">
        <div class="col">
            <h2 class="whitish"></h2>
            <div class="extra-lg-text">
                 <picture>
  <source srcset="{{asset "images/ducky2.webp"}}" type="image/webp">
  <img class="ducky img-fluid float-left" src="{{asset "images/ducky2.png"}}" alt="OAKwave marketing strategy">
</picture><div class="texting">
                <span> we're not <span class="purplish">duckin' around</span></span><br>
                <span>with  marketing &amp; sales strategy</span></div>
            </div>
        </div>
    </div>
</header>




<div class="container-fluid sm-about shitake">
    <div class="row">
        <div class="col">
            <div class="sm-text shitake">we're something actually different than you've experienced.</div>
            <div class="md-text blackish shitake">we take the <span class="md-text purplish"><strike class="md-text purplish">bull</strike>shit</span>ake out of marketing, sales and strategy to grow your business.</div>
          <!--  <div class="link-holder">
                <a class="" href="about.html">More about us</a>
            </div>-->
        </div>
        <div class="col">
<picture> <source class="shroom img-fluid float-right" srcset="{{asset "images/shitake.webp"}}" type="image/webp"> <source class="shroom img-fluid float-right" srcset="{{asset "images/shitake.png"}}" type="image/png"> <img class="shroom img-fluid float-right" src="{{asset "images/shitake.webp"}}" alt="{{title}}"> </picture>
        
        </div>
    </div>
</div>

<div class="container-fluid other-info">
    <div class="row">
        <div class="col">
            <div class="row-title">offerings sampler<br />
            <span style="font-size: 1.5rem; font-family: 'gilroy-light'; font-weight: 400; color: #fff;">just a taste of what we can do for your business</span></div>
        </div>
        </div>
    
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box">

                <div class="services-list icon img-fluid fluid-img svcs6">   <picture class="img-fluid">
  <source class="img-fluid" srcset="{{asset "images/cup.webp"}}" type="image/webp">
  <img class="img-fluid svcs6" src="{{asset "images/cup.png"}}" alt="OAKwave marketing strategy">
</picture></div></div>
            </div>
        <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box">

              <div class="icon services-list svcs2"><picture class="img-fluid">
  <source class="img-fluid" srcset="{{asset "images/diamond.webp"}}" type="image/webp">
  <img class="img-fluid svcs5" src="{{asset "images/diamond.png"}}" alt="OAKwave marketing strategy">
</picture></div>
</div></div>
 <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box">

              <div class="icon services-list svcs3"><picture class="img-fluid">
  <source class="img-fluid" srcset="{{asset "images/vision.webp"}}" type="image/webp">
  <img class="img-fluid svcs4" src="{{asset "images/vision.png"}}" alt="OAKwave marketing strategy">
</picture></div>
</div></div>


        </div>


    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">
                <div class="title">strategy</div>
                <div class="text">This is our flagship product.  Do you know how parents always say, "I wish there was a manual on parenting my kid!" That's kind of what our strategies are, except for your marketing, sales, and business growth. Go ahead, try to find a better marketing, sales, or growth strategy, it's right next to the Fountain of Youth.
</div>            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">
              

                <div class="title">brand strategy, positioning, and voice</div>
                <div class="text">Unifying your organization behind a single voice, position, slogan, and value proposition is critical to making efficient use of your marketing efforts. We make this process painless and actually fun. Your brand is your foundation and a weak foundation makes for a shaky house.</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">
                <div class="title">marketing decision-making on-demand</div>
                <div class="text">Need all the services of a Chief Marketing Officer, without the huge salary or commitment?   We have CMO-on-demand.
You want someone you trust that knows their stuff to make the marketing decisions. You're trying to run a team and a business, not be a marketing director. </div>
            </div>
        </div>


        </div>

        <div class="row">
           <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box svcs4">

              <div class="icon services-list"><picture class="img-fluid">
  <source class="img-fluid" srcset="{{asset "images/bomb.webp"}}" type="image/webp">
  <img class="img-fluid svcs1 " src="{{asset "images/bomb.png"}}" alt="OAKwave marketing strategy">
</picture></div>
</div></div>
       <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box svcs5">

              <div class="icon services-list"><picture width="60" style="max-width: 50% important;"  class="img-fluid">
  <source width="60" style="max-width: 50% important;"  class="img-fluid" srcset="{{asset "images/content.webp"}}" type="image/webp">
  <img width="60" style="max-width: 50% important;" class="svcs2 img-fluid" src="{{asset "images/content.png"}}" alt="OAKwave marketing strategy">
</picture></div>
</div></div>
 <div class="col-12 col-md-6 col-lg-4">
                            <div class="info-box svcs6">

              <div class="icon services-list"><picture style="max-width: 90% important;"  class="img-fluid">
  <source style="max-width: 90% important;" class="img-fluid" srcset="{{asset "images/cursor.webp"}}" type="image/webp">
  <img style="max-width: 90% important;"  class="img-fluid svcs3" src="{{asset "images/cursor.png"}}" alt="OAKwave marketing strategy">
</picture></div>
</div></div></div>

          <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">
                <div class="title">martech and salestech stack assembly</div>
                <div class="text">
If you have 800 moving components and SaaS tied to your sales and marketing efforts, you're paying too much in both time and dollars. Software-agnostically, we guide and implement stacks that align your technical needs and your business objectives. </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">

                <div class="title">website strategy</div>
                <div class="text">
                    We were born in 
     </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="info-box-lower">

                <div class="title">content rebirth</div>
                <div class="text">This is not your intern's SEO-packed, boring Encylopedia entry...
Your content needs to grab the attention of your target market and hold onto it. This takes a special blend of sales, marketing, and wordsmithing. We believe a hundred amazing words will change the world for your business, not a hundred mediocre articles.  </div>
            </div>
        </div>
    </div>
</div>



<div class="blog container container-fluid blog-section">
            <div class="row">
                    <h2>our meandering opinions</h2><br /><br />
            </div>  
                
        <div class="row">
			

            {{#get "posts" filter="featured:false" limit="3" include="tags"}}
                 {{#foreach posts}}
			        <div class="bloganime col" data-aos="fade-right">
				        {{#if feature_image}}
                            <div class="col">                                
                             <a href="{{url}}">	   <img src="{{img_url feature_image}}" alt="{{title}}" width="100%"></a>
					        </div>            
                        {{/if}} 
					
	    				<div class="col">
						    <div class="blog-column">
						<a href="{{url}}" class="btn-link">	    <h4 class="purplish">{{title}}</h4></a>
							    <ul class="blog-detail list-inline"> 
							        {{#if primary_tag}}
                                        {{#primary_tag}}	
                                            <li>
                                              <i class="fa fas fa-tag"></i>
                                                <a style="font-weight: normal !important; font-family: gilroy-light !important;" href="{{url}}" class="btn-link">  {{name}}</a>
                                            </li>  
                                        {{/primary_tag}}
                                    {{/if}}
								    <li><i class="fa far fa-calendar-check"></i>&nbsp;{{date}}</li> 
                                    <li><i class="fa far fa-clock"></i>&nbsp;{{reading_time}}</li>
							    </ul> 
							    <p>{{excerpt words="33"}}</p>
							    <a href="{{url}}" class="btn-link">read more</a>
						    </div>
					    </div>
					
                    </div>
		   
		   {{/foreach}}
           {{/get}}
           
            
    </div>
  
    <div style="padding-top: 3rem;" class="row">
        <div class="col center-text text-center">
    <div class="btn-holder">
          <a href="{{@site.url}}/blog"class="btn lm-btn black">view full blog</a>
            </div>

            </div>
    </div>
</div>



<div class="container-fluid default-content">
    <div class="row">
        <div class="col">
            <div class="md-text whitish">
                <h2 class="md-text whitish"><br />we're marketing, sales, and business <span class="md-text purplish">wartime commanders</span>...</h2><br>
                <h2 class="md-text whitish">and the <span class="purplish">war is here</span>.</h2><br>
            </div>
            <div class="btn-holder">
          <a href="#" data-toggle="modal" class="btn lm-btn" data-target="#exampleModal">schedule a call</a>
            </div>
        </div>
           <div class="col">
             <picture>
  <source srcset="{{asset "images/chess.webp"}}" type="image/webp">
  <img class="chess img-fluid float-left" src="{{asset "images/chess.png"}}" alt="OAKwave marketing strategy">
</picture>         </div>
    </div>             {{> modal}}

</div>