{{!< default}}
{{#contentFor "page-title"}}
     Blog
{{/contentFor}}
{{#contentFor "particles-option"}}
   <div class="particles"> {{> particles-insert}}
    </div>
    {{/contentFor}}
{{#contentFor "header-class"}}
section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2
{{/contentFor}}
{{#contentFor "breadcrumbs-section"}}
<section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="container">
        <p class="breadcrumbs-custom-subtitle">a very opinionated space</p>
        <p class="heading-1 breadcrumbs-custom-title">OAKwave Blog</p>

        {{> leaf-parallax-crumbs}}

        {{> breadcrumbs}}

</section>
{{/contentFor}}
    <section class="section section-lg bg-default text-center">
        {{> wave}}
    <div class="container container-bigger">
        <div class="row row-ten row-50 row-md-90 justify-content-md-center justify-content-xl-between">
            <div class="col-md-9 col-lg-6 blog-classic-main text-center">
                
                    {{#get "posts" limit="5" filter="page:false" include="tags"}}

                {{#foreach posts}}
                
                {{> "post-card-index"}}
                
                {{/foreach}}
{{pagination}}
      
                        {{/get}}


            </div>
            <div class="col-md-9 col-lg-3 blog-aside">
                <div class="blog-aside-item">
                    <h6>Search</h6>
                    <div class="divider house-gradient"></div>
                            <div class="gcse-search"></div>

                </div>
            <!-- <div class="blog-aside-item">
                    <h6>Archive</h6>
 
                   <ul class="list-marked list-marked-secondary">


                    </ul>
                </div>-->
                <div class="blog-aside-item">
                    <h6>About us</h6>
                                        <div class="divider house-gradient"></div>

                    <p>OAKwave is a passionate collective of <span class="highlight">good people</span> who do what they love for good people who <span class="highlight">need what we do</span>.</p>
                <button class="button button-primary button-nina" type="button" data-toggle="modal" data-target="#show-modal">Sign Up for Updates</button>
                    {{popup-subscribe}}
                   
                </div>
                <div class="blog-aside-item">
                    <h6>Tags</h6>
                                        <div class="divider house-gradient"></div>

                    <ul class="list-marked list-marked-secondary">
{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
{{#foreach tags}}<li><a href='{{ url }}'>
    {{ name }} - ({{ count.posts }})
</a></li>
{{/foreach}}                      {{/get}}
                       
                    </ul>
                </div>
            </div>
            </div>
            </div>
            </section>
  

 

{{#contentFor "page-title"}}
    Blog
{{/contentFor}}