{{!< default}} 
{{#post}} 
<!-- Single Post Wrapper -->
<div class="single-blog-sec">
    <div class="author-banner {{#if feature_image}}banner-overlay{{else}}banner-split{{/if}}" {{#if feature_image}}
        style="background-image:url({{feature_image}})" {{/if}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h1>{{title}}</h1>
                    <div class="post-meta d-flex flex-wrap justify-content-between align-items-end mt-5">
                        <div>
                            <p>
                                {{tags separator=", " limit="2"}}
                            </p>
                            <p><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD
                                    MMMM, YYYY"}}</time></p>
                        </div>
                        <div class="">
                            <p>{{reading_time}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="sb-content-wrap blog-single-2">
                        <div class="single-post-content">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Single post Wrapper -->
{{/post}}

{{!-- suscribe --}}
{{> "subscribe-section"}}