{{!< default}}
{{#page}}

{{#contentFor "page-title"}}
{{title}} | OAKwave - Sales and Marketing Strategy
{{/contentFor}}
  <div class="particles"> {{> particles-insert}}
    </div>
{{#contentFor "header-class"}}
section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2
{{/contentFor}}
{{#contentFor "breadcrumbs-section"}}
 
<section class="breadcrumbs-custom breadcrumbs-custom-svg">
    <div class="container">
        <p class="breadcrumbs-custom-subtitle"></p>
        <p class="heading-1 breadcrumbs-custom-title">{{title}}</p>

                  
        
    </section>{{/contentFor}}


  
  <!-- Single post-->
  <section class="post section section-lg bg-default">
    <!-- section wave-->
   {{> wave}}
    <div class="container-wide">
      <div class="row justify-content-sm-center">
        <div class="col-lg-10 col-xl-8 col-xxl-6 sections-collapsable">
          <article class="post-full-content post-blog-article">
            <ul class="post-blog-article-meta group-xl">
  
          

            </ul><div id="content">
{{#if feature_image}}
<figure class="post-full-image">
  {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
  <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
</figure>
{{/if}}

              
         {{content}}</div>
            
             
             
       
           
          </article>
         </div></div>
         
         
         
    

         
         
         </div></section>
         
  
  
  


{{/page}}