{{!< default}}
<div class="page">
      <!-- Page Header-->
      <header class="section novi-bg novi-bg-img page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-default">
          {{"navigation"}}
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
          <div class="container">
            <p class="breadcrumbs-custom-subtitle">Terms of Use</p>
            <p class="heading-1 breadcrumbs-custom-title">Privacy Policy</p>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Privacy Policy</li>
            </ul>
          </div>
          <div class="parallax-scene-js parallax-scene" data-scalar-x="5" data-scalar-y="10">
            <div class="layer-01">
              <div class="layer" data-depth="0.25"><img style="transform: rotate(-24deg);" src="{{asset "images/elements/orangemaple.svg"}}" alt="" width="32" />
              </div>
            </div>
            <div class="layer-02">
              <div class="layer" data-depth=".55"><img style="transform: rotate(4deg);" src="{{asset "images/elements/house-thin-leaf.svg"}}" alt="" width="75" />
              </div>
            </div>
            <div class="layer-03">
              <div class="layer" data-depth="0.1"><img style="transform: rotate(-34deg);" src="{{asset "images/elements/yellowleaf.svg"}}" alt="" width="50" />
              </div>
            </div>
            <div class="layer-04">
              <div class="layer" data-depth="0.25"><img style="transform: rotate(14deg);" src="{{asset "images/elements/purpleoak.svg"}}" alt="" width="75" />
              </div>
            </div>
            <div class="layer-05">
              <div class="layer" data-depth="0.15"><img style="transform: rotate(-14deg);" src="{{asset "images/elements/redleaf.svg"}}" alt="" width="65" />
              </div>
            </div>
            <div class="layer-06">
              <div class="layer" data-depth="0.65"><img style="transform: rotate(54deg);" src="assets/images/elements/yellowoak.svg" alt="" width="55" />
              </div>
            </div>
          </div>
        </section>

      </header>

      <!-- Page Footer-->
      <!-- Footer Extended-->
      <footer class="section novi-bg novi-bg-img page-footer page-footer-extended text-center text-lg-left bg-gray-darker">
        <div class="google-map-wrap">
          <!-- Google Map-->
          <div class="google-map-container" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-zoom="5" data-icon="images/gmap_marker.png" data-icon-active="images/gmap_marker_active.png">
            <div class="google-map"></div>
            <ul class="google-map-markers">
              <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow"></li>
            </ul>
          </div>
        </div>
        <div class="container container-wide">
          <div class="row justify-content-sm-center justify-content-lg-between justify-content-xl-end row-135">
            <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="contact-info-wrap">
                <h6>contact information</h6>
                <div class="tabs-custom tabs-horizontal tabs-line tabs-line-small" id="tabs-2">
                  <!-- Nav tabs-->
                  <ul class="list-fix nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#tabs-extended-2-1" data-toggle="tab">San Diego</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tabs-extended-2-2" data-toggle="tab">New York</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tabs-extended-2-3" data-toggle="tab">Chicago</a></li>
                  </ul>
                  <!-- Tab panes-->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-extended-2-1">
                      <ul class="list-xs list-darker">
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span>
                          <div><a href="#">2130 Fulton Street, San Diego, CA 94117-1080 USA</a></div>
                        </li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                          <ul class="list-comma">
                            <li><a href="tel:#">1-800-1234-567</a></li>
                            <li><a href="tel:#">1-800-6780-345</a></li>
                          </ul>
                        </li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">mail@demolink.org</a></li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="tabs-extended-2-2">
                      <ul class="list-xs list-darker">
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span><a href="#">2130 Fulton Street, New York, NY 94117-1080 USA</a></li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                          <ul class="list-comma">
                            <li><a href="tel:#">1-800-0987-654</a></li>
                            <li><a href="tel:#">1-800-0987-654</a></li>
                          </ul>
                        </li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">newyork@demolink.org</a></li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="tabs-extended-2-3">
                      <ul class="list-xs list-darker">
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-map-marker"></span><a href="#">2130 Fulton Street, Chicago, IL 94117-1080 USA</a></li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-phone"></span>
                          <ul class="list-comma">
                            <li><a href="tel:#">1-800-6543-765</a></li>
                            <li><a href="tel:#">1-800-3434-876</a></li>
                          </ul>
                        </li>
                        <li class="box-inline"><span class="icon novi-icon icon-md-smaller icon-primary mdi mdi-email-open"></span><a href="mailto:#">chicago@demolink.org</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h6>Gallery</h6>
                <div class="instafeed">
                  <div class="row row-narrow row-10" data-lightgallery="group">
                    <div class="col-4 col-sm-3">
                      <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a class="instagram-link" data-lightgallery="item" href="images/project-1-1200x800-original.jpg"><img class="instagram-image" src="images/footer-01-115x115.jpg" alt="" width="115" height="115"/></a>
                        <div class="caption">
                          <ul class="list-inline">
                            <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3">
                      <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a class="instagram-link" data-lightgallery="item" href="images/project-2-1200x800-original.jpg"><img class="instagram-image" src="images/footer-02-115x115.jpg" alt="" width="115" height="115"/></a>
                        <div class="caption">
                          <ul class="list-inline">
                            <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3">
                      <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a class="instagram-link" data-lightgallery="item" href="images/project-3-1200x800-original.jpg"><img class="instagram-image" src="images/footer-03-115x115.jpg" alt="" width="115" height="115"/></a>
                        <div class="caption">
                          <ul class="list-inline">
                            <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3">
                      <div class="thumbnail-instafeed thumbnail-instafeed-minimal"><a class="instagram-link" data-lightgallery="item" href="images/project-4-1200x800-original.jpg"><img class="instagram-image" src="images/footer-04-115x115.jpg" alt="" width="115" height="115"/></a>
                        <div class="caption">
                          <ul class="list-inline">
                            <li><span class="icon novi-icon mdi mdi-plus"></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-5 col-xl-3">
              <h6>recent blog posts</h6>
              <div class="blog-inline-wrap">
                <!-- Blog Inline-->
                <article class="blog-inline">
                  <div class="blog-inline-title"><a href="single-post.html">How to Turn Small Talk Into Smart Conversation</a></div>
                  <ul class="blog-inline-meta">
                    <li><a href="single-post.html"> 2 days ago</a></li>
                    <li>
                      by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                  </ul>
                </article>
                <!-- Blog Inline-->
                <article class="blog-inline">
                  <div class="blog-inline-title"><a href="single-post.html">The Top 5 Reasons Why ‘The Customer Is Always Right’ Is Wrong</a></div>
                  <ul class="blog-inline-meta">
                    <li><a href="single-post.html"> 2 days ago</a></li>
                    <li>
                      by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                  </ul>
                </article>
                <!-- Blog Inline-->
                <article class="blog-inline">
                  <div class="blog-inline-title"><a href="single-post.html">Think You’re Too Old to Be an Entrepreneur? Think Again.</a></div>
                  <ul class="blog-inline-meta">
                    <li><a href="single-post.html"> 2 days ago</a></li>
                    <li>
                      by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                  </ul>
                </article>
                <!-- Blog Inline-->
                <article class="blog-inline">
                  <div class="blog-inline-title"><a href="single-post.html">Why Google Doesn’t Care About College Degrees</a></div>
                  <ul class="blog-inline-meta">
                    <li><a href="single-post.html"> 2 days ago</a></li>
                    <li>
                      by&nbsp;<a class="text-normal" href="single-post.html">Ronald Chen</a></li>
                  </ul>
                </article>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="row flex-lg-row-reverse justify-content-sm-center align-items-lg-center row-135 justify-content-xl-start">
                <div class="col-md-10 col-lg-5 col-xl-5 col-xxl-5 text-center">
                  <ul class="group-xs group-middle social-icons-list">
                    <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                    <li><a class="icon novi-icon icon-md-smaller icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
                <div class="col-md-10 col-lg-7 col-xl-7 col-xxl-6">
                  <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Brave Theme</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
{{#contentFor "page-title"}}
    Search Result
{{/contentFor}}