<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}} | OAKwave Marketing Strategy</title>
            <link rel="stylesheet" type="text/css" href="{{asset "webfonts/gilroy.css"}}">

        <link rel="stylesheet" type="text/css" href="{{asset "home/css/style.css"}}">

        {{> fbpixel}}
        {{> quora}}
    {{> google-analytics}}
    {{!> hotjar}}
    {{ghost_head}}
        <script src="https://kit.fontawesome.com/dd47f1ac1c.js" crossorigin="anonymous"></script>

</head>
<body><!--Big blue-->

    {{{body}}}
{{> static-footer}}

{{> hubspot}}

    {{!-- Theme Scripts --}}
        <script src="{{asset "home/js/jquery.min.js"}}"></script>
    <script src="{{asset "home/js/popper.min.js"}}"></script>

<script src="{{asset "home/js/bootstrap.min.js"}}"></script>
<script src="{{asset "home/js/anime.min.js"}}"></script>
<script src="{{asset "home/js/main.js"}}"></script>
<script src="{{asset "home/js/modal.js"}}"></script>

    <script src="{{asset "home/js/scrollreveal.min.js"}}"></script>




    {{!-- Ghost outputs important scripts & data with the {ghost_foot} tag
    it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}



</body>
</html>


