<div class="container-fluid features">
    <div class="row">
        <div class="col">
            <div class="row-title">offerings sampler<br />
            <span style="font-size: 1.5rem; font-family: 'gilroy-light'; font-weight: 400; color: #fff;">just a taste of what we can do for your business</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="125" src="{{asset "images/cup.png"}}"></div>
                <div class="title">Marketing, Sales, and Growth<br>Strategies</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="125" src="{{asset "images/diamond.png"}}"></div>
                <br /><div class="title">BRAND strategy, position, and development</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="140" src="{{asset "images/vision.png"}}"></div><br />
                <div class="title">On-demand marketing decision-maker, CMO-AS-A-SERVICE</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="125" src="{{asset "images/bomb.png"}}"></div>
                <div class="title">marketing campaign design and planning
</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="75" src="{{asset "images/content.png"}}"></div>
                <div class="title">
content infusion and creative services</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="150" src="{{asset "images/cursor.png"}}"></div>
                <div class="title">website and digital strategy</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                        <div class="icon"><img width="100" src="{{asset "images/bolt.png"}}"></div>

                <div class="title">SALES pitch devlopment, asset design, and strategy</div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="feature-box">
                <div class="icon"><img width="100" src="{{asset "images/cloud.png"}}"></div>
                <div class="title">martech and salestech stack assembly</div>
            </div>
        </div>
    </div>
</div>
